/* Menu stuff */
.menuIcon {
    position: fixed;
    right: 0;
    margin: 20px;
    z-index: 101;
}

.menuIcon:hover {
    cursor: pointer;
}

.fa-menu-close:hover {
    fill: rgb(114, 0, 0);
}

.fa-menu.open:hover {
    fill:rgb(255, 40, 0);
}

.fa-menu-close {
    transform: rotate(45deg);
    transition: transform 250ms ease-in;
  }
  
  .fa-menu.open{
    transform: rotate(0deg);
    transition: transform 250ms ease-in;
  }

  /* Modal content */

  .dialogMenu {
      width: 100vw;
      height: 100vh;
      display: flex;
      position: fixed;
      top:0;
      left:0;
      z-index: 100;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgb(255, 40, 0);
  }

  .dialogMenu a {
      font-size: 0.85rem;
      color: #000;
      line-height: 1.4;
      padding: 3px;
  }

  .dialogMenu a:hover {
      text-decoration: none;
  }