.project-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: white; */
}

div.navigation {
    width: calc(65vw / 2);
    height: 70vh;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    
}

div.navigation.next {
    transform: translateX(50%);
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: right;
    justify-content: right;
}

.image-container:hover .arrow-icon {
    opacity: 1;
}


div.navigation.prev {
    transform: translateX(-50%);
    justify-content: left;
    flex: 1;
    -webkit-flex: 1;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: left;
    justify-content: left;
}

svg.arrow-icon {
    opacity: 0;
    transition: 0.3s ease-in;
    height: 25px;
}

svg.arrow-icon.left {
    transform: rotate(180deg);
}

div.image-container {
    max-width: 100vw;
    width: 70vw;
    height: 70vh;
    cursor: pointer;
    max-height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container img {
    /* display: none; */
    justify-content: center;
    align-items: center;
    height: 100%;

    /* avoid user marking on click*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}