
$headerSpacing: 0vw;
$fontSizeTitle: 0.5rem;
$headerPadding: 1rem;

body {
    header {
        height: 3rem;
        position: fixed;
        display: flex;
        z-index: 101;
        // background: white;
        // border-bottom: 1px solid black;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-left: $headerSpacing;
        margin-right: $headerSpacing;
        width: 100vw - 2 * $headerSpacing;

        span {
            height: $fontSizeTitle;
            margin:0 $headerPadding;
            a {
              vertical-align: top;
                font-size: $fontSizeTitle;
            }
        }

        .menuIcon {
            width: 1rem;
            height: 1rem;
            z-index: 102;
            margin:0 $headerPadding;

            
            &:hover {
                cursor: pointer
            }
        }

        .fa-menu-close {
            transform: rotate(45deg);
            transition: transform 250ms ease-in;
            &:hover {
                fill: $hoverLinkColor;
            }
        }
    
        .fa-menu.open{
            transform: rotate(0deg);
            transition: transform 250ms ease-in;
            &:hover {
                fill: $linkColor;
            }
        }

    }

     /* Modal content */
     .dialogMenu {
        width: 100vw;
        height: 100vh;
        display: flex;
        position: fixed;
        top:0;
        left:0;
        z-index: 100;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $linkColor;

        a {
            font-size: 0.85rem;
            color: #000 !important;
            line-height: 1.4;
            padding: 3px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}